{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/index.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title %}Challenge List{% endblock %}


{% block content %}
    {% include "./includes/header.html" with active_page="index" %} 
    {% comment %} with active_page="index" {% endcomment %}
    <h1>Desafios do Ano</h1>
    <ul>
        {% for month in months %}
        <li><a href="{% url 'month-challenge' month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
